.App {
  text-align: center;
  margin: 30px auto 60px;
}

table {
  margin: 0 auto;
  width: 90%;
  border: 1px solid #333;
}

td {
  border: 1px solid #333;
}

.card-image {
  width: 50px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.player-tag-form {
  margin: 30px auto;
  font-size: 16px;
}
